$corbranca: #fff;
@mixin sombra-padrao{
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}
@mixin borda-padrao($raio: 0.3em){
  border-radius: 0.3em;
}
@mixin retorna-largura($multiplicador) {
  width: round(18 * $tamanho-fonte-padrao);
}
$tamanho-fonte-padrao: 16px;

$mq-mobile: "(max-width: 950px)";